table {
            border-collapse: collapse;
            width: 100%;
        }
        table, th, td {
            border: 3px solid #000000;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        img {
            max-width: 100px;
        }

body {
    justify-content: center;
}